<div class="masthead">
    <div class="container">
        <div class="headTxt">
            <markdown src="{{@layout.header}}"></markdown>
        </div>
    </div>
</div>
<div id="main" class="container home">
    <div class="row">
        <div class="span4">
            <div class="teaser">
                <markdown src="{{@layout.teaser_1_1}}"></markdown>
            </div>
            <div class="teaser">
                <markdown src="{{@layout.teaser_1_2}}"></markdown>
            </div>
        </div>
        <div class="span4">
            <div class="teaser">
                <markdown src="{{@layout.teaser_2_1}}"></markdown>
            </div>
            <div class="teaser">
                <markdown src="{{@layout.teaser_2_2}}"></markdown>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <markdown src="{{@layout.download}}"></markdown>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="span12">
            <div class="padded">
                <markdown src="{{@layout.main}}"></markdown>
            </div>
        </div>
    </div>
</div>
